.cell {
  position: absolute;
}

.black {
  background-color: #444444;
}

.white {
  background-color: #ffffff;
}

.piece {
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.king {
  background-image: url(../../img/king.png);
}

.queen {
  background-image: url(../../img/queen.png);
}

.pawn {
  background-image: url(../../img/pawn.png);
}

.knight {
  background-image: url(../../img/knight.png);
}

.bishop {
  background-image: url(../../img/bishop.png);
}

.rook {
  background-image: url(../../img/rook.png);
}

.selected {
  border: 2px solid red;
  background-color: rgba(214, 14, 0, 50);
}
