.cell {
  position: absolute;
  background-size: cover;
}

.black {
  background-color: #444444;
}

.white {
  background-color: #ffffff;
}

.piece {
  z-index: 1;
  background-position: center;
  background-size: contain;
}

.selected {
  background-color: rgba(144, 252, 3, 0.5);
}

.path {
  background-color: rgba(54, 127, 255, 0.3);
}
