.cell {
  position: absolute;
  background-size: cover;
}

.black {
  background-color: #444;
}

.white {
  background-color: #ddd;
}

.piece {
  z-index: 1;
  background-position: center;
  background-size: contain;
}

.selected {
  background-color: rgba(144, 252, 3, 0.8);
}

.path {
  /* border: px solid rgba(144, 252, 3, 0.5); */
  background-color: rgba(144, 252, 3, 0.4);
}
